<!DOCTYPE html>

{% import "macros.html" as macros %}

<html>
<head>
    <title>{% block title %} Apiep Blog {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/shCore.css"/>
    <link rel="stylesheet" href="/static/css/shCoreDefault.css"/>
    <link rel="stylesheet" href="/static/css/shThemeDefault.css"/>
    <link rel="stylesheet" href="/static/css/style.min.css"/>
    {% block css %}{% endblock %}
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav">
            <a class="brand" href="/">Apiep Blog</a>
            <li id="beranda"><a href="/">Beranda</a></li>
            {# <li><a href="#">Blog</a></li>
            <li><a href="#">Catatan</a></li> #}
            <li id="pastee"><a href="/pastee">Pastee</a></li>
            <li id="tentang"><a href="/tentang">Tentang</a></li>
        </ul>
        <ul class="nav pull-right">
            {{ macros.login() }}
        </ul>
    </div>
</div>
<div class="container content">
    {% block content %}{% endblock %}
</div>
{% block javascript %}
    <script type="text/javascript"></script>
{% endblock %}
<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/blur.min.js"></script>
<script type="text/javascript" src="/static/js/prefixfree.min.js"></script>
<script type="text/javascript" src="/static/js/shCore.js"></script>
<script type="text/javascript" src="/static/js/shAutoloader.js"></script>
<script type="text/javascript">
    function path() {
        var result = [];
        for (var i = 0; i < arguments.length; i++) {
            result.push(arguments[i].replace('@', '/static/js/brush/'));
        }
        return result;
    }
    SyntaxHighlighter.autoloader.apply(null, path(
            'applescript                        @shBrushAppleScript.js',
            'as as3 actionscript3               @shBrushAS3.js',
            'bash sh                            @shBrushBash.js',
            'coldfusion cf                      @shBrushColdFusion.js',
            'cpp c                              @shBrushCpp.js',
            'csharp c#                          @shBrushCSharp.js',
            'css                                @shBrushCss.js',
            'delphi                             @shBrushDelphi.js',
            'diff                               @shBrushDiff.js',
            'erlang erl                         @shBrushErlang.js',
            'groovy                             @shBrushGroovy.js',
            'java                               @shBrushJava.js',
            'javafx                             @shBrushJavaFX.js',
            'jscript js javascript              @shBrushJScript.js',
            'pl perl                            @shBrushPerl.js',
            'php                                @shBrushPhp.js',
            'text plain                         @shBrushPlain.js',
            'py python                          @shBrushPython.js',
            'ruby rb ror rails                  @shBrushRuby.js',
            'sass less scss                     @shBrushSass.js',
            'scala                              @shBrushScala.js',
            'sql                                @shBrushSql.js',
            'vb                                 @shBrushVb.js',
            'xml                                @shBrushXml.js'
    ));
    SyntaxHighlighter.all();
</script>
</body>
</html>
