{% macro post_detail(posts) %}
    {% for post in posts %}
        <div class="post-title">
            {{ post.title }}
            <div class="post-meta">
                <i class="icon-calendar"> </i>
                {{ post.created|dateformat }}
            </div>
        </div>
        <div class="post-content">
            {{ post.content|safe }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro post_list(posts) %}
    {% for post in posts %}
        <div class="post-title">
            <a href="/blog/{{ post.href }}">{{ post.title }}</a>

            <div class="post-meta">
                <i class="icon-calendar"> </i> {{ post.created|dateformat }}
            </div>
        </div>
        <div class="post-content"> {{ post.content|truncate(500)|safe }}</div>
        {% if not loop.last %}
            <hr/>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro login() %}
    {% if has_login() %}
        {% if is_admin() %}
          <li><a href="/admin">Admin</a></li>
        {% endif %}
        <li><a href="{{ logout_url('/') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url('/') }}">Login</a></li>
    {% endif %}
{% endmacro %}
