
.shadow {
  box-shadow: #000 1px 1px 10px;
}
.border {
  border-radius: 4px;
  .shadow;
}


body {
  background: url("/static/img/background.jpg") fixed;
  padding: 60px;
}

.content {
  .border;
  padding: 20px;
  background-color: #fafafa;

  .post-title {
    font-size: 19px;
    padding: 0px;

    .post-meta {
      padding: 0px;
      font-size: 13px;
    }

  }
  .post-content {
    padding-top: 10px;
  }
}

.navbar .navbar-inner {
  .shadow;
}
.navbar .navbar-inner .nav .brand {
  margin-left: 10px;
}
