{% extends "base.html" %}
{% block title %}
    {{ post.title }} | {{ super() }}
{% endblock %}
{% block content %}
    <div class="post-title">
        {{ post.title }}
        <div class="post-meta">
            <i class="icon-calendar"> </i>
            {{ post.created|dateformat }}
        </div>
    </div>
    <div class="post-content">
        {{ post.content|safe }}
    </div>
{% endblock %}
