{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form class="span8" action="/pastee/addpastee" method="post">
            <label>
                Judul<br/>
                <input class="span8" name="title" type="text" placeholder="Judul"/>
            </label>
            <label>
                Bahasa pemrograman<br/>
                <select name="language">
                    <option value="applescript">Applescript</option>
                    <option value="as">Actionscript</option>
                    <option value="bash">Bash</option>
                    <option value="cf">Coldfusion</option>
                    <option value="cpp">C / C++</option>
                    <option value="c#">C-Sharp</option>
                    <option value="css">CSS</option>
                    <option value="delphi">Delphi</option>
                    <option value="diff">Diff</option>
                    <option value="erl">Erlang</option>
                    <option value="groovy">Groovy</option>
                    <option value="java">Java</option>
                    <option value="js">Javascript</option>
                    <option value="pl">Perl</option>
                    <option value="php">PHP</option>
                    <option value="text">Plain text</option>
                    <option value="py">Python</option>
                    <option value="rb">Ruby</option>
                    <option value="sass">Sass / Lesscss</option>
                    <option value="scala">Scala</option>
                    <option value="sql">SQL</option>
                    <option value="vb">Visual Basic</option>
                    <option value="xml">XML</option>
                </select>
            </label>
            <label>
                Konten<br/>
                <textarea class="span8" name="content" placeholder="Konten" rows="14"></textarea>
            </label>
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </form>
        <div class="well well-small pull-right span3">
            {% if pastee_list %}
                <ul>
                {% for p in pastee_list %}
                    <li><a href="/pastee/{{ p.href }}">{{ p.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}