{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span8">
            <h4>{{ pastee.title }}</h4>
            <div class="post-meta"><i class="icon-calendar"></i> {{ pastee.created|dateformat }}</div>
            {#<br/>#}
            {#<input type="text" value="{{ url_for('static', filename='js') }}"/>#}
            <pre class="brush: {{ pastee.language }}">
{{ pastee.content }}
            </pre>
        </div>
    <div class="span3 well well-small pull-right">
        {% if pastee_list %}
            <ul>
                {% for p in pastee_list %}
                    <li><a href="/pastee/{{ p.href }}">{{ p.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    </div>

{% endblock %}