{% macro tablepost(posts) %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Judul</th>
            <th>Konten</th>
            <th>Tanggal</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.created }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
