{% extends "base.html" %}

{% block content %}

    <form action="/admin/editpost" method="post">
        <label for="postTitle">Judul</label>
        <input id="postTitle" type="text" name="title" class="input-xxlarge" value="{{ post.title }}"/>
        <label for="postContent">Isi</label>
        <textarea name="content" id="postContent">{{ post.content }}</textarea><br/>
        <input type="hidden" name="href_old" value="{{ post.href }}"/>
        <input type="submit" value="Submit" class="btn btn-small"/>
    </form>


    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace("postContent");
    </script>
{% endblock %}