{% extends "base.html" %}

{% block content %}
    <ul class="nav nav-pills" id="admin-tab">
        <li class="active"><a href="#post" data-toggle="tab">Post</a></li>
        <li><a href="#postadd" data-toggle="tab">Add Post</a></li>
        {# <li><a href="#comment" data-toggle="tab">Comment</a></li>#}
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="post">
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <th>Judul</th>
                    <th>Konten</th>
                    <th>Tanggal</th>
                    <th>****</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td style="width: 100px;">{{ post.title }}</td>
                        <td>{{ post.content|truncate(200) }}</td>
                        <td style="width: 100px;">{{ post.created|dateformat }}</td>
                        <td style="width: 100px">
                            <div class="btn-group">
                                <a class="btn btn-mini" href="/admin/editpost/{{ post.href }}">Edit</a>
                                <a class="btn btn-mini btn-danger" href="/admin/deletepost/{{ post.href }}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="postadd">
            <form action="/admin/addpost" method="post">
                <label for="postTitle">Judul</label>
                <input id="postTitle" type="text" name="title" class="span9"/>
                <label for="postContent">
                    Isi
                </label>
                <textarea name="content" id="postContent"></textarea><br/>
                <input type="submit" value="Submit" class="btn btn-small"/>
            </form>
        </div>
        {# <div class="tab-pane fade" id="comment">
            Comment
        </div> #}
    </div>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        {# $("#admin-tab").find("a[href='#post']").tab("show");#}
        CKEDITOR.replace("postContent");
        $("#admin").addClass("active");
        function onBtnEditClicked(href){
            console.log(href + " clicked");
        }
        function onBtnDeleteClicked(href){
            console.log(href + " clicked");
        }
    </script>
{% endblock %}

