{% extends "base.html" %}

{% macro progress(title,persentase) %}
    <p>
        {{ title }} <span class="label label-important pull-right">{{ persentase }}%</span>
    <div class="progress">
        <div class="bar" style="width:{{ persentase }}%;"></div>
    </div>
    </p>
{% endmacro %}

{% block content %}
    <style type="text/css">
        .desc {
            /*font-size: 12px;*/
        }
    </style>
    <div class="row">
        <div class="span8">
            <h2>Afief Sholichuddin</h2>

            <p class="description">
                Seorang pemuda yang berasal dari kota kecil di Jawa Timur yang menyukai bidang komputer terutama dalam
                hal
                programming. Menyukai hal-hal baru, dan sangat senang mempelajarinya.<br/>
                Saat ini sedang mendalami ilmu dibidang pemrograman dengan cara otodidak hanya bermodalkan laptop &
                modem :)
            </p>

            <div class="row">
                <div class="span3">
                    <i class="icon-home">&nbsp;</i> Home<br/>

                    <p class="desc">
                        Jl. Raya Gedeg No. 4<br/>
                        Ds. Gedeg Kec. Gedeg<br/>
                        Kab. Mojokerto
                    </p>
                </div>
                <div class="span3">
                    <i class="icon-wrench">&nbsp;</i> Bitbucket<br/>
                    <a href="http://bitbucket.com/apiep" target="_blank" class="desc">http://bitbucket.com/apiep</a>
                </div>
                <div class="span2">
                    <i class="icon-bookmark">&nbsp;</i> Sosial media<br/>
                    <a class="desc" href="http://www.twitter.com/ap13p" target="_blank">@ap13p</a><br/>
                    <a href="http://www.facebook.com/afief.sholichuddin" target="_blank" class="desc">Afief S</a>
                </div>
            </div>
        </div>
        <div class="span3">
            <img src="/static/img/foto.jpg" class="img-polaroid pull-right" width="175px" alt=":-P" title=":-P"/>
        </div>
    </div><br/><br/>
    <div class="row">

        <div class="span8">
            <h4>Skill</h4>

            <div class="well well-small">
                Memakai linux sehari-hari, terutama
                <a href="http://fedoraproject.org" rel="tooltip" title="http://fedoraproject.org"
                   target="_blank" onmouseover="$(this).tooltip('show');">fedora</a> &
                <a href="http://porteus.org" rel="tooltip" title="http://porteus.org"
                   target="_blank" onmouseover="$(this).tooltip('show');">porteus</a>
            </div>
            <div class="well well-small">
                <h5>Bahasa pemrograman</h5>
                {{ progress('Python',65) }}
                {{ progress('Java', 40) }}
                {{ progress('Javascript', 20) }}
            </div>
            <div class="well well-small">
                <h5>Desain grafis</h5>
                {{ progress('GIMP', 45) }}
                {{ progress('Inkscape', 45) }}
            </div>
            <div class="well well-small">
                <h5>Desain web</h5>
                {{ progress('CSS3', 50) }}
                {{ progress('HTML5', 20) }}
            </div>
            <div class="well well-small">
                <h5>Framework</h5>
                {{ progress('Flask', 70) }}
                {{ progress('Jinja2 Template', 75) }}
                {{ progress('Django', 30) }}
                {{ progress('Twitter bootstrap', 75) }}
            </div>
        </div>
        <div class="span4">
            <div class="well well-small">
                <a href="http://flask.pocoo.org" target="_blank">
                    <img src="/static/img/made-with-flask-s.png" alt="Flask"
                         title="Flask" rel="tooltip" onmouseover="$(this).tooltip('show');"/>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
